<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021AR601_2021MM656</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021AR601_2021MM656.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- INCIO DEL HEADER -->
    <header>
        <div class="bg-primary text-center mb-5 pb-5 pt-2">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/dulcesabor-imagenes.appspot.com/o/L02P02_2021AR601_2021MM656%2Flogo_unicaes.png?alt=media&token=da41375f-edc2-4fa1-924b-7bf97437a4d8" width="100vw" alt="">
            </div>
            <div class="titulo text-light ">
                <h3>Creación de Usuarios</h3>
                <span>Ingrese los datos solicitados</span>
            </div>
        </div>
    </header>
    <!-- FIN DEL HEADER -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- INICIO DEL FOOTER -->
    <footer class="bg-primary text-light text-center pt-3 pb-3 ">
        <span>2021AR601 - Norma Arrivillaga</span>
        <br>
        <span>2021MM656 - Carlos Murga</span>
    </footer>
    <!-- FIN DEL FOOTER -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
